
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    
    text-align: center;
    background: linear-gradient(45deg, #c6ffdd, #0083b0);

}
h2{
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 0px;
    /* color: yellow; */
    color: #3a4452;
}
.container{
    width: 100vw;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #22262b;
    padding: 25px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 6px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 35px;
    /* box-shadow: none; */
}
form input.equal{
    width: 135px;
}
form input.operator{
    color: #f64403;
}
